body {
    background-color: #c8efdb;
}
div.scroll {
    background-color: #b5f7f6;
	opacity: 0.9;
    width: 70%;
    height: 55%;
    overflow: scroll;
    position: absolute;
    top: 35%;
    right: 10%;
	text-align:left;
}

.fadein img{
opacity:1;
transition: 1s ease;
}

.fadein img:hover{
opacity:0.6;
transition: 1s ease;
}