body {
    background-color: #c8efdb;
}
div.scroll {
    background-color: #b5f7f6;
	opacity: 0.9;
    width: 40%;
    height: 25%;
    overflow: scroll;
    position: absolute;
    top: 30%;
    right: 30%;
	text-align:center;
}