div.footer {
    background-color: #70a19f;
	text-align: center;
	font-size: 3px;
	color: #70a19f;
}
.right {
    position: absolute;
    right: 200px;
    width: 800px;
    background-color: #FFFFFF;
	opacity:0.8;
}
.left{
    position: absolute;
    left: 130px;
}
.bottom{
	left: 10px;
	bottom: 10px;
	font-size: 13px;
	color: #70a19f;
}

a:link,
a:hover,
a:visited,
a:active {
  color: #fff;
  text-decoration: none;
}
a.wordlink{
  color:#006a80;
  text-decoration: none;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial;
  background: #fff;
}

.card-holder {  
  position: fixed;
  width: 0px;
  overflow: visible;
}

.card-wrapper {
  display: inline-block;
  float: right;
  clear: both;
}

.card {
  position: relative;
  left: 32px;
  padding: 16px 32px 16px 64px;
  margin: 8px;  
  x-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 8px 0 8px -8px rgba(0, 0, 0, 0.5);
  background: #fff;
  transition: all 0.3s ease-in-out 0.1s;
}

.card:hover {
  position: relative;
  left: 100%;
  margin-left: -32px;
  box-shadow: 
    0 -8px 8px -8px rgba(0, 0, 0, 0.5),
    0 8px 8px -8px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.card-content {
  display: inline-block;
  color: #fff;
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
}

.bg-01 { background: #93D8FA; }
.bg-02 { background: #B4D9ED; }
.bg-03 { background: #DADAED; }
.bg-04 { background: #FFD9D9; }
.bg-05 { background: #EEE8AB; }
.bg-06 { background: #F4F293; }

.logo{
	position: fixed;
}
.center{
	text-align:center;
}
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }