body {
    background-color: #ffe052;
}

.imgright{
    position: fixed;
	right: 20px;
	bottom: 0px;
}
.bottom{
    position: absolute;
	bottom: 10px;
	text-align:center;
}
.backright{
    position: absolute;
    bottom: 25px;
    right: 50%;
	text-align:center;
}
.bbright{
    position: absolute;
    bottom: 0px;
    right: 35%;
	text-align:center;
}
