body {
    background-color: #f9f9f9;
}

.imgright{
    position: fixed;
	right: 20px;
	bottom: 0px;
}


.imgleft{
    position: fixed;
	left: 0px;
	bottom: 0px;
}

.talk{
    opacity: 0;
    position: fixed;
	left: 0px;
	bottom: 320px;
    width: 300; 
    height: 255;
}
.talk2{
    position: fixed;
	left: 0px;
	bottom: 320px;
    width: 300; 
    height: 255;
}

.bottom{
    position: absolute;
	bottom: 10px;
	text-align:center;
}
.backright{
    position: absolute;
    bottom: 25px;
    right: 50%;
	text-align:center;
}
.bbright{
    position: absolute;
    bottom: 0px;
    right: 35%;
	text-align:center;
}

.footer{
    background-color: #b3e9d8;
    bottom: 0px;
    height: 30%;
    text-align:center;
    margin: auto;
    padding: 30px;
    color: white;
}


  a.hovertext {
    position: relative;
    width: 500px;
    text-decoration: none !important;
    text-align: center;
  }
  a.hovertext:after {
    content: attr(title);
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.5em 20px;
    width: 460px;
    background: rgba(0,0,0,0.8);
    text-decoration: none !important;
    color: #fff;
    opacity: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
  }
  a.hovertext:hover:after, a.hovertext:focus:after {
    opacity: 1.0;
  }
