  body {

    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when 
    the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
    on the container's size */
    background-size: cover;

    /* Set a background color that will be displayed
    while the background image is loading */
    background-color: #464646;
	
	background-opacity: 0.9;
	height:650px;
  }
  .zigzag {
    position: absolute;
    width: 100%;
    height: 500px;
    top: 420px;
    background: #ffe553;
    z-index: 1;
    /*-webkit-filter: drop-shadow(rgba(0, 0, 0, 0.8) 0px 1px 2px);*/
  }
  .zigzag:before {
    content: "";
    display: block;
    position: absolute;
    top: -45px;
    width: 100%;
    height: 45px;
    background:
    linear-gradient(
    45deg, transparent 33.333%,
    #ffe553 33.333%, #ffe553 66.667%,
    transparent 66.667%
    ),
    linear-gradient(
    -45deg, transparent 33.333%,
    #ffe553 33.333%, #ffe553 66.667%,
    transparent 66.667%
    );
    background-size: 90px 180px;
  }
  .zigzag .row .col {
  	padding: 20px;
  }



.fadein img{
opacity:0.9;
transition: 0.5s ease;
}

.fadein img:hover{
opacity:1;
transition: 0.5s ease;
transform: scale(1.05);
}

.hvr-overline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

element.style {
}
index.htmlmedia="all"
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
index.htmlmedia="all"
.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
index.htmlmedia="all"
[class^="hvr-"] {
  /* display: inline-block; */
  /* vertical-align: middle; */
  margin: .4em;
  padding: 1em;
  cursor: pointer;
  background: #e1e1e1;
  text-decoration: none;
  color: #666;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
index.htmlmedia="all"
p, [class^="hvr-"] {
  font-family: 'Roboto', sans-serif;
}
index.htmlmedia="all"
a {
  color: #2098D1;
  text-decoration: none;
}
user agent stylesheeta:-webkit-any-link {
  color: -webkit-link;
  text-decoration: underline;
  cursor: auto;
}
Inherited from body
index.htmlmedia="all"
/*
body {
  margin: 0 auto;
  max-width: 800px;
  padding: 40px 20px 20px 20px;
  font-family: sans-serif;
  color: #333;
  line-height: 140%;
}
*/

a{
	color: yellow;
}


