.bodycontainer {
    width: 100%;
    margin: 0 3em;
    font-size: 16px;
}

.projcontainer {
    width: 80%;
    padding: 2em;
    margin: 0em auto;
    margin-left: 5em;
    font-family: 'Handlee', cursive;
    line-height: 1.5em;
    
}

.navcol {
    background-color: #c09471 !important;
    overflow: hidden;
}

.back {
    padding: 1em;
    color: brown;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
}

footer a {
    color: cornsilk;
}

.proj a{
    color: darkred;
    text-decoration: underline;
}

.proj a:hover {
    text-decoration: underline
}

h1 {
    text-align: center;
    font-family: 'Gochi Hand', cursive;
}

ul {
    line-height: 2em;
    text-indent: 1em;
}

.projcontainer h2 {
    color: darkred;
    font-family: 'Handlee', cursive;
}

.proj{
    padding: 1em;
    margin:2em;
}

.shoot {
    width: 350px;
    height: 350px;
    float: right;
}

h4 {
    font-size: 14px;
    color: darkgoldenrod;
    line-height: 1em;
}

.tag {
    padding: 0.3em;
    background-color: #f2f066;
    opacity: 0.7;
    border-radius: 5px;
    margin: 2px;
    line-height:2.5em;
}

footer{
    -webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.7);
    -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.7);
    -o-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.7);
    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.7);
    text-align:center;
    margin: auto;
    padding: 30px;
    color: cornsilk;
    width: 100%;
    z-index: 999;
    background-color: #dcac6a;
    background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 90%),
    linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
    background-size: 13px, 29px, 37px, 53px;
}

body {
    background-color: #fffcf6; 
    background-image: 
    linear-gradient(90deg, transparent 79px, rgba(185,70, 70,.77) 79px, rgba(185,70, 70,.57) 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.6em;
}