body {
    background-color:#d1f4ff;
	background:url(../images/icon/sebg.png);
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
	-moz-background-size:10% 7%;
	background-size:10% 7%;
}
