@import url(style.css);

p::first-letter {
    color: #4fc5de;
    font-size: large;
}

p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}

.column {
	font-family: Arial, Helvetica, sans-serif;
	color: #a5edfc;
}
.bottom{
	position: fixed;
	bottom: 15px;
	font-size: 10px;
}

div.scroll {
    background-color: #FFFFFF;
	opacity: 0.5;
    width: 300px;
    height: 650px;
    overflow: scroll;
    position: fixed;
    top: 50px;
    right: 605px;
}
h1.pos_fixed {
    position: fixed;
    top: 30px;
    right: 25px;
    color: 64b5cf;
	font-family: Arial, Helvetica, sans-serif;
}
.resume {
    position: absolute;
	top: 680px;
	right: 250px;
}
.resume2 {
    position: absolute;
	top: 695px;
	right: 269px;
}

.right {
    position: absolute;
    right: 520px;
    width: 300px;
    background-color: #b0e0e6;
}
.searchright{
	right: 220px;
}
.imgright{
    position: absolute;
	right: 0px;
}
.bbright{
    position: fixed;
    top: 65px;
    right: 290px;
}
