@import url(https://fonts.googleapis.com/css?family=Oswald:300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
h1 {
    text-align: center;
}

#copy {
    color: gray;
    opacity: 0.5;
    margin-left: 6%;
    height: 10px;
    font-size: 0.8em;
    font-family: 'Quicksand', sans-serif;
    line-height: 5.8em;
    z-index: 1;
}
#search{
    border-radius: 0.2em;
    background-color: #80D6FF;
    color: #fff;
    padding: 0.2em;
    cursor: pointer;
}

a {
    text-decoration: none;
    font-weight: 200;
}
.title {
    font-size: 20px;
    color: black;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif; 
    padding-left: 2em;
padding-bottom: 0;
    display: inline;
    width: 90%;
}
#my {
margin-top: 60px;
    padding-left: 30%;
    background: white;
    padding: 1em;
    color:#80D6FF;
}
.field {
    float: right;
    margin-top: -70px;
    margin-right: 10%;
font-weight: 200;
    font-size: 15px;

}
.field imput {
    display: inline-block;
}
.field p {
    display: inline-block;
margin-right:1em;
}
    
    
.share {

    left: 10%;
    width: 92%;
    background-color: white;  
    float: left;
    z-index: 10;
}

.tips {
    height: 100hv;
    float: right;
    position: fixed;
    left: 91.5%;


}

.tips p {
    visibility: hidden;
}

.tips a {
    position: relative;
    z-index: 2;
 display: block;
}

.tips a:hover {
    z-index: 5 !important;
}

#tipone {
    height: 150px;
}
    
#tiptwo {
    z-index: 2;
margin-top: -100%;
     height: 150px;
}


#tipthree {
margin-top: -100%;
     height: 150px;

}

.columns {
	width: 90%;
	max-width: 1100px;
	min-width: 600px;
	margin: 30px auto;
}

.columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 20px;
	column-fill: auto;
}

.pin {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 10px 20px 15px 10px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	width: 80%;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}
.account {
    font-size: 10px;
}

.pin img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 5px;
    width: 90%;
}

body {
    background-color:#f9f9f9;
    background-image: linear-gradient(#c7f4ff 2px, transparent 2px),
    linear-gradient(90deg, #c7f4ff 2px, transparent 2px),
    linear-gradient(rgba(215,245,245,.5) 1px, transparent 1px),
    linear-gradient(90deg, rgba(215,245,245,.5) 1px, transparent 1px);
    background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
}






.black_overlay{
	display: none;
	position: fixed;
    z-index: 10;
	top: 64px;
	left: 0%;
	width: 100vw;
	height: 100vh;
    background-color: rgba(128, 214, 255, 0.8)
	
}

#disleft {
    float: left;
    width: 62%;
    line-height: 1.5em;
}

#disright {
    padding: 10px;
    float: right;
    width: 30%;
}

#light{
    display: none;
}

.black_overlay img {
    width: 100%;
}

.displayleft{
    float: left;
}



#leftpart{
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    float: left;
    position: absolute;
    width: 50%;
    height: 99%;
    z-index: 99999;
}

.avatar{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    padding: 10px;  
    background-color: #fff;
    margin: 0.5em;
    overflow: hidden;
}

#leftpart:hover{
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    background-color: #2A88AD;
    opacity: 0.5;
}

#rightpart{
    z-index: 99999;
    left: 50%;
    float: right;
    position: absolute;
    width: 50%;
    background-color: #2A88AD;
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    height: 99%;
}

#rightpart:hover{
    cursor: pointer;
    opacity: 0.5;
    color: #fff;
    font-weight: bold;
}

.tag {
    background-color: #80D6FF;
    border-radius: 3px;
    color: #fff;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

.tag:hover {
    background-color: #2A88AD;
    color: #fff;
}

a:hover{
    color: #2A88AD;
}

#likenumber{
    font-size: 11px;
    color: #999;
}

#gridcity{
    width: 98%;
    position: relative;
}

#gridcity img {
    width: 100%;
    height: 25em;
    overflow: scroll;
}

#sharenumber{
    font-size: 11px;
    color: #999;
}

.white_content {
    position: relative;
    opacity: ;
	display: none;
	margin: 1em auto;
	width: 80%;
    height: 85vh;
	padding: 1.5em;
	background-color: white;
	z-index:1002;
    -webkit-box-shadow: 6px 6px 68px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 68px -16px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 68px -16px rgba(0,0,0,0.75);
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.white_content > form{
    display:block;
    margin-bottom: 10px;
}

.inner-wrap{
    width: 100%;
    padding: 10px;
    background: #F8F8F8;
    border-radius: 6px;
    margin-bottom: 15px;
}

.textarea-field{
    height: 100px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 8px;
    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border: 2px solid #f9f9f9;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.white_content image,
.white_content p,
.white_content form,
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    width: 70%;
    display: block;
    margin: 0.5em;
    padding: 5px;
    border: 1px solid #80D6FF;
    background: transparent;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    height: 40px;
    color: #999;
    background-color: #f8fdff;
}

.white_content button {
 background-color: #80D6FF;
    margin: 0.5em auto;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 0px solid #80D6FF;
    display: block;
    
}
.white_content a {
    text-decoration: none;
}

.signupform label > span{
    float: left;
    width: 100px;
    color: #80D6FF;
    font-weight: bold;
    font-size: 14px;
    text-shadow: 1px 1px 1px #fff;
    vertical-align: bottom;
}

.close-btn {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    padding: 10px;  
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #c2c2c2;
    z-index: 99999;
    border: 2px solid #c2c2c2;
    background-color: #fff;
    font-family: 'Quicksand', sans-serif;
    -webkit-box-shadow: 16px 16px 68px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 16px 16px 68px -16px rgba(0,0,0,0.75);
    box-shadow: 16px 16px 68px -16px rgba(0,0,0,0.75);
    display:block;
    float:right;
}

.close-btn:hover {
    color: #80D6FF;
    border: 2px solid #80D6FF;
    
}

.close-btn a {
    z-index: 99999;
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

a{
    color: #80D6FF;
    font-size: 0.8em;
    padding: 0.5em;
}

#discription{
    font-size: 11px;
    color: #999;
}

#bubble-wrapper {
    display: none;
    position: absolute;
    top: 80%;
    left: 7px;
    z-index: 9999999999999;
}
.bubble a {
    padding: 0;
    margin: 0;
}
.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 180px;
    height: 35px;
    padding: 3px;
    background: #eee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: #eee solid 2px;
}

.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #eee transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -15px;
    left: 80px;
}

.bubble:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 16px 16px 0;
    border-color: #eee transparent;
    display: block;
    width: 0;
    z-index: 0;
    bottom: -18px;
    left: 79px;
}


.commentbox {
    font-size: 11px;
    color: #999;
    width: 90%;
    overflow:scroll; width:95%;height:130px;
    margin: 10px;
}

.commentbox a{
    font-size: 11px;
}

.imgtitle {
    text-align:center; 
    line-height: 1.5em;
    color: #80D6FF;
    font-family: 'Quicksand', sans-serif;
}

.signsubmit {
    background-color: #80D6FF;
    margin: 0.8em auto;
    margin-bottom: 0;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 0px solid #80D6FF;
    align-items: center;
    display: block;
    text-align: center;
}

input[type="submit"]:hover{
    background: #2A88AD;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}



/*mobile & pad*/

 
@media screen and (max-width: 800px) {  
    .title {
        font-size: 12px;
    }
    
    .field {
        margin-top: -40px;
font-size: 10px;    }
.tips {
    width: 50px;
    float: right;
    position: fixed;
    left: 91%;

}
    
#tipone {
    height: 100px;
}
    
#tiptwo {
    z-index: 2;
margin-top: -100%;
     height: 100px;
}


#tipthree {
margin-top: -100%;
     height: 100px;

}

.columns {
	width: 80%;
	max-width: 768px;
	min-width: 100px;
	margin: 30px auto;
}

.columns {
	-webkit-column-count: 1;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 1;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 1;
	column-gap: 15px;
	column-fill: auto;
}

.pin {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}
.account {
    font-size: 10px;
}

.pin img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}

    
    #disleft {
        float: left;
        width: 100%;
        margin: 1em auto;
    }
    
    #disright {
        padding: 10px;
        float: right;
        width: 100%;
    }
    
    .white_content {
        overflow:scroll;
    }
    
    .inner-wrap{
        width: 90%;
        padding: 15px;
        background: #F8F8F8;
        border-radius: 6px;
        margin-bottom: 15px;
        bottom: 2.5em;
        position: static;
    }
    #bubble-wrapper {
        opacity: 0;
    }
    
}

