body {
    background: lightgray;
    overflow: hidden;
}

#topcontainer {
    height: 64px;
    width: 100%;
    position: fixed;
    background: #80D6FF;
}

#topcontainerimgs {
    height: 100%;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

#lefticon {
    height: 36px;
    width: auto;
    display: inline-block; 
    float: left;
    padding: 14px;
}

#logo {
    height: 50px;
    width: auto;
    display: inline-block;
    padding: 6px;
}

#profilename {
    height: 36px;
    width: auto;
    display: inline-block;
    float: right;
    padding: 14px;
}

.canvas {
    position: absolute;
    left: 360px;
    background: #fff;
    margin-top: 96px;
    width: 62.5%;
    height: auto;
    z-index: 999;
    float: right;
}

.canvas:after {
  content: "";
  display: block;
}

.canvas img {
    width: 100%;
    height: 100%;
}

.left {
    box-sizing: content-box;
    position: absolute;
    margin: 96px 64px;
    background: #fff;
    width: 240px;
    height: 540px;
    float: left;
    
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
}

.tool {
    font-weight: bold;
    text-align: center;
    line-height: 32px;
    display: flex;
}

.color{
    border-right: 2px solid #e6e6e6;
}

.toolbox {
    box-sizing: border-box;
    height: 80px;
    width: 80px;
    border-right: 2px solid #e6e6e6;
    border-bottom: 2px solid #e6e6e6;
    display: inline-block;
}

.toolbox img {
    width: 70%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.colorpalette {
    height: 160px;
    width: 240px;
    display: inline-block;
}

.colorpalette img {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10%;
    height: 100%;
    width: 80%;
}

.setbox1 {
    position: absolute;
        bottom: 0;
    box-sizing: border-box;
    height: 60px;
    width: 80px;
    border-right: 2px solid #e6e6e6;
    border-top: 2px solid #e6e6e6;
    display: inline-block;
}

.setbox1 img {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    height: 100%;
}

.setbox2 {
    position: absolute;
        bottom: 0;
        left: 80px;
    box-sizing: border-box;
    height: 60px;
    width: 80px;
    border-right: 2px solid #e6e6e6;
    border-top: 2px solid #e6e6e6;
    background: #80D6FF;
    display: inline-block;
}

.setbox2 img {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    height: 100%;
}

.setbox3 {
    position: absolute;
        bottom: 0;
        left: 160px;
    box-sizing: border-box;
    height: 60px;
    width: 80px;
    border-right: 2px solid #e6e6e6;
    border-top: 2px solid #e6e6e6;
    display: inline-block;
}

.setbox3 img {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    height: 100%;
}

#chatbox {
    box-sizing: border-box;
    width: 240px;
    height: 180px;
    position: absolute;
    margin: 680px 64px;
    background: white;
    padding: 10px;
    
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1em;
    line-height: 1.1em;
}

#messagebox {
    position: absolute;
        bottom: 10px;
    box-sizing: border-box;
    width: 90%;
    height: 24px;
    border: 1px solid gray;
    margin: 0 auto;
    padding: 2px;
    
    font-size: 0.9em;
}

input {
    width: 90%;
    background: none;
    border: none;
    color: gray;
    font-weight: 100;
    font-size: 0.9em;
    font-family: 'Quicksand', sans-serif;
}

#messagebox img {
    height: 10px;
    width: auto;
}

#canvasinfo {
    padding: 10px;
    font-size: 0.8em;
    line-height: 1.1em;
}

.speech-bubble {
    background-color: #f8f8f8;
    border: 3px solid #80D6FF;
    border-radius: 5px;
    width: 110px;
    text-align: center;
    padding: 20px;
    position: absolute;
        right: -40px;
        bottom: 58px;
    z-index: 10000;
    display: none;
}

.speech-bubble .arrow {
    border-style: solid;
    position: absolute;
}

.bottom {
    border-color: #80D6FF transparent transparent transparent;
    border-style: solid;
    border-width: 10px 10px 0px 10px;
    bottom: -10px;
    content: "";
    position: absolute;
    left: 64px;    
}

.speech-bubble a img {
    height: 60px;
    width: auto;
    padding: 5px;
}

.setbox3:hover .speech-bubble {
    display: inline-block;
}

b {
    font-weight: bolder;
}

blue {
    font-weight: bolder;
    color: #80D6FF;
}

red {
    font-weight: bolder;
    color: #ed7e7e;
}

orange {
    font-weight: bolder;
    color: #fab57a;
}
